  <header>
    <h1>
      Replacement Parts
    </h1>
  </header>
  <div class="service">
  <p>
    More often than not when we have a laptop or computer, over a long period of time, wear and tear commonly takes place. Or we can 
sometimes be a bit clumsy and accidently scratch, break or smash parts. This is where Cheaper Computer Care comes in. With our 
specialist connections and expertise we will guarantee you the best replacement parts at the most cost effective prices.
</p>
<p>
  So if your computer screen is cracked, if your keyboard has keys no longer working, or any other problems then contact us now 
to discuss your individual needs.
</p>

<a href="<%= new_order_path %>" class="btn btn-large">Click here to get started</a>
</div>