  <header class="stripe">
  <h1>Repairs</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
</header>
<div  id="main-content">
  <div class="service">
    <p>
    PC and laptop users are commonly faced with problems that they don’t recognise. The computer may be unusually slow, fans may 
    be extremely loud or making a clunking sound, but no matter how big or small the problem is <b>Cheaper Computer Care</b> is here to help. 
    With our friendly consultants we will offer advice, help resolve problems and answer queries. 
    </p>
    <p>
    When you send us your computer/laptop we will analyse and fault find, then we will email you a full diagnostic report explaining the 
    problems and faults, and finally explain how we aim to repair your computer/laptop back to health.
    </p>
    <p>
    <b>How will it work?</b><br>
    As with all Cheaper Computer Carer services, we want to make sure that the process is as simple and convenient for our customers 
    as possible, to achieve this we provide an efficient 5 step plan:<br>
    <ul>
      <li><b>Step 1 - </b>Select the Fault Finding & Repairs service from the order page, and complete our easy questionnaire to book the service.</li>
      <li><b>Step 2 - </b>We arrange for free collection of your PC / Laptop.</li>
      <li><b>Step 3 - </b>On receipt of your device we get to work straight away to produce a full fault analysis report. </li>
      <li><b>Step 4 - </b>We will e-mail you a comprehensive report explaining the faults found and how we plan on fixing them.</li>
      <li><b>Step 5 - </b>Finally when we are satisfied that your computer is back to its best we will arrange for free return at your convenience.</li>
    </ul>
    </p>
    <p>
    We  guarantee <b>100%</b> quality and satisfaction with all computer repairs carried out, and for extra added piece of mind we provide 
    a <b>free 30 day warranty</b> with all repairs. 
    </p>
    
    <% service = Service.where("lower(name) = 'fault finding & repairs'").first %>
    <% if service %>
      <a href="<%= new_order_path('service' => service.id) %>" class="btn btn-large btn-success">Click here to get started</a>
    <% else %>
      <a href="<%= new_order_path %>" class="btn btn-large btn-success">Click here to get started</a>
    <% end %>      
  </div>
</div>