<header class="stripe">
  <h1>Servicing & Tune-up</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
</header>
<div  id="main-content">
  <div class="service">  
    <p>
    Just as your car needs a regular MOT, it is important to service your computer at least every 4-6 months to ensure it maintains its 
    best system performance free from errors.
    </p>

    <p>
    At Cheaper Computer Care we provide a comprehensive servicing of your computer; which is guaranteed to speed it up, increase 
    storage space by removing unnecessary settings and software, increase internet security, and remove any underlying errors. We even 
    clean your computer internally which will remove dust build up and improve cooling efficiency to prolong the life of internal components.
    </p>

    <p>
    Unlike other service providers who charge their customer based on the different categories of servicing, the type of PC / Laptop and 
    even on the age of computer, at <b>Cheaper Computer Care</b> we believe that there should only be 1 type of service offered which is the 
    most thorough available to all our customers, so we have produced the <b>Cheaper Computer Care Platinum package</b> for only £46.99
    </p>

    <p>
    <b>Servicing & Tune up will include:</b>
    <ul>
      <li>Checking and removing any operating system errors</li>
      <li>Speed up of computer performance</li>
      <li>Registry clean-up</li>
      <li>Optimisation of system settings for speed and security</li>
      <li>Update operating system patches</li>
      <li>Update of latest software Drivers</li>
      <li>Uninstalling any unwanted software</li>
      <li>Freeing up hard drive space</li>
      <li>Perform full hardware fitness test</li>
      <li>Internal clean-up of fans, wiring and dust buildup using high pressure compressed air</li>
    </ul>
    </p>

    <p>
    <b>Cheaper Computer Care</b> will help your computer feel new again!
    </p>

    <a href="<%= new_order_path %>" class="btn btn-large">Click here to get started</a>
  </div>
</div>