<header class="stripe">
  <h1>Upgrades</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
</header>
<div  id="main-content">
  <div class="service">
    <p>
      Computers and laptops should be maintained and invested in to sustain longevity and performance. So you may simply require larger 
  memory, a faster processor, greater hard drive space or an operating system upgrade. But whatever your upgrade needs, chances are you 
  should do it, as not maintaining an up to date system can lead to problems that may cause damage and future complications.
    </p>
    <p>
      <b>This is where Cheaper Computer Care comes in</b>
    </p>

    <a href="<%= new_order_path %>" class="btn btn-large">Click here to get started</a>
  </div>
</div>