  <header>
    <h1>
      Virus Removal
    </h1>
  </header>
  <div class="service">
  <p>
    A computer virus is a software programme that is capable of reproducing itself. A virus can take many different forms and 
sometimes you may not even know if you have one, but they are usually capable of causing great harm to files or programs on 
your computer. Spyware additionally is mainly a privacy threat as it is a way of spying on a person’s computer and retrieving 
information without their consent.
  </p>
  <b>Here are some symptoms to look out for:</b><br>
  <ul>
    <li>
      Computer Performance Degrades/Browser keeps crashing<br>
      If you notice your computer performance degrading then it may be a virus. A virus will make your computer run slower than 
  usual and could cause crashes and spontaneous shut downs. An indicator to look out for is the sound of your computer’s 
  hard drive continually working and abnormally loud.
    </li>
    <li>
      <b>Unexpected Pop Ups/Messages/Toolbars and Tray Icons</b><br>
      Indicators to look out for are messages appearing unexpectedly, Internet, programs or windows shutting down suddenly. 
  Tray icons and toolbars that is malware could be viruses or spyware, they could potentially be harmless, or they could be 
  designed to drain your computer off its resources or be spyware used to track your usage and browsing habits. Either way 
  they can cause disturbances and slow down the performance of your computer.
    </li>
  </ul>

  <b>How can we help?</b>
  <p>
    If it is a virus then we will investigate, dispose of anything malicious and restore what has been affected for only £49.99. 
It is always best to be safe than sorry so contact <b>Cheaper Computer Care</b> now and we will be more than happy to help. As with 
all Cheaper Computer Carer services, we want to make sure that the process is as simple and convenient for our customers as 
possible, to achieve this we provide an efficient 5 step plan:
  </p>
  <p>
    <b>Step 1 - </b>Select the Virus Removal service from the order page, and complete our easy questionnaire to book the service.<br>
    <b>Step 2 - </b>We arrange for free collection of your PC / Laptop.<br>
    <b>Step 3 - </b>On receipt of your device we get to work straight away investigating anything malicious.<br>
    <b>Step 4 - </b>We will e-mail you a comprehensive report explaining the infections found and removed. <br>
    <b>Step 5 - </b>Finally when we are satisfied that your computer is virus free we will arrange for free return at your convenience.<br>
  </p>

  <a href="<%= new_order_path %>" class="btn btn-large">Click here to get started</a>
</div>