<%= render :partial => "services_grid" %>
<div id="main-content">
  <!--
    <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
    <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>-->
    <%= render :partial => "default_service" %>
</div>