<header class="stripe">
  <h1>Order Complete</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header>
<div id="main-content">  
  <div class="service">
    <div class="hero-unit">
      <h1>Thank you for getting in touch!</h1>
      <p>We have received your details and will be in touch shortly with a quote.</p>
      <p>
        <a href="<%= root_path %>" class="btn btn-primary btn-large">
          Home
        </a>
      </p>
    </div>
  </div>
</div>