<!DOCTYPE HTML>
<html>
  <head>
    <title>New Contact Form message</title>
  </head>
  <body>
    <b>Name: </b><%= @name %><br>
    <b>Email: </b><%= @email %><br>
    <b>Phone: </b><%= @phone %><br>
    <b>Message: </b><%= @message %>
  </body>
</html>
