<!DOCTYPE HTML>
<html>
  <head>
    <title>New Order Received - <%= @order.id %></title>
  </head>
  <body style="background-color:#CCCCCC;padding:0;margin:0;">
    <header style="width:500px;margin:auto;" class="container">
        <a style="text-decoration:none;" href="<%= root_path %>"><h1 style="font-family: 'droid_sansbold', Arial, sans-serif;color: #777777;font-size: 40px;font-weight: bold;letter-spacing: -4px;word-spacing: -5px;text-shadow: -1px -1px #2D3437, 1px 1px #ffffff;"><em style="font-size: 50px;font-style: normal;color: #3F77A9;">C</em><span>heaper</span> <em style="font-size: 50px;font-style: normal;color: #3F77A9;">C</em><span>omputer</span> <em style="font-size: 50px;font-style: normal;color: #3F77A9;">C</em><span>are</span></h1></a>
    </header>      
    <div style="background-color:#CCCCCC;color:#444444;text-align:center;">
      <div style="background-color:#FFFFFF;padding:8px;width:500px;margin:auto auto 0 auto;">
        <h3>A new order has been received</h3>
        <p>View order details <a href="<%= admin_order_url(@order.id, :host => SITE_HOST) %>">here</a></p>
      </div>
    </div>
    <footer style="background-color:#000000;color:#FFFFFF;padding:12px;"><p>&copy; 2013 <a href="" style="color:#FFFFFF;text-decoration:none;">Cheaper Computer Care</a></p></footer>
  </body>
</html>
