<!DOCTYPE HTML>
<html>
  <head>
    <title>Student Discount Code</title>
  </head>
  <body>
    <p>Hello, <%= @name %>!</p>
    <p>Here is your discount code for Cheaper Computer Care: <b><%= @code %></b></p>
    <p>When you get to the end of the checkout process don't forget to enter the code to receive your discount! </p>
    <p>Note: your discount code is valid for one month only</p>
  </body>
</html>
