<div id="main-content">
  <header>
    <h1>Order Complete</h1>
  </header>  
  <div class="service">
    <div class="hero-unit">
      <h1>Thank you for the order!</h1>
      <p>We will be in contact shortly</p>
      <p>
        <a href="<%= root_path %>" class="btn btn-primary btn-large">
          Home
        </a>
      </p>
    </div>
  </div>
</div>