<header class="stripe">
  <h1>Order Complete</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>  
</header>
<div id="main-content">  
  <div class="service">
    <div class="hero-unit">
      <h1>Thank you for the order!</h1>
      <h4>What happens next?</h4>
      <ol class="unstyled circle-list">
        <li><h2>Confirmation</h2><p>You will receive a confirmation email, keep this as a receipt of the order.</p></li>
        <li><h2>Courier arrangements</h2><p>Our trusty courier will be in contact with you to arrange the exact time for the collection of your hardware.</p></li>
        <li><h2>Collection</h2><p>Your PC will be picked up from the address you provided (make sure you're around).</p></li>
        <li><h2>Fix & fine-tune</h2><p>We will take care of your machine and keep you informed of the progress</p></li>
        <li><h2>Return</h2><p>Your PC will be delivered safely back to you</p></li>
      </ol>
      <p>
        <a href="<%= root_path %>" class="btn btn-primary btn-large">
          Home
        </a>
      </p>
    </div>
  </div>
</div>