<header class="stripe">
  <h1>About</h1>
  <div class="img-shadow left"><%= image_tag("shadow-left.png") %></div>
  <div class="img-shadow right"><%= image_tag("shadow-right.png") %></div>
</header>
<div id="main-content">
  <div class="service">
    <p>
      <b>At Cheaper Computer Care our aim is to provide our customers with the best possible service not only in 
  affordable computer care, but also in terms of convenience, reliability and honest workmanship.</b>
    </p>
    <p>
      We pride ourselves in being the <b>first and only</b> fully remotely operated door-to-door home service provider 
  in IT support. We want to ensure that all our customers receive the most convenient and efficient service 
  available; therefore we remove the need for having to wait for an engineer to come to your house, or lugging 
  your PC down to a shop. We achieve this by using a network of secure couriers to arrange for a pickup at 
  your convenience and deliver right back to your chosen location anywhere in the UK.
    </p>
    <p>
      This allows us to keep overheads low and concentrate on keeping costs even lower for our customers whilst 
  allowing for the highest quality in service, doing away with unnecessary call out charges, rushed home visits 
  and any added service charges associated with house calls and this is all provided free of charge. Even in the 
  unlikely scenario that we cannot fix the fault you will not be charged a penny.
    </p>
  </div>
</div>