<div id="services" class="clearfix">
  <article class="service">
    <div class="pull-right">
      <h1>Data Recovery</h1>
      <p>
        Lost those family photos?
Deleted that important essay?
Do not fret we have the 
solution. Providing the most 
effective data recovery for 
Hard drives, USB Flash drives 
and even Camera Memory 
cards.
      </p>
    </div>
  </article>
  <article class="service">
    <div class="pull-right">
      <h1>Replacement Parts</h1>
      <p>
        Offering replacement parts 
for all major laptop and PC 
components whether it is as 
simple as a broken keyboard, 
or complete screen 
replacement we have the 
solution. 
      </p>
    </div>
  </article>
  <article class="service">
    <div class="pull-right">
      <h1>Virus Removal</h1>
      <p>
        When a virus or spyware has 
infect your computer it can be 
a real pain and inconvenience 
trying to put it right again. 
Let us get your PC back to 
its best.        
      </p>
    </div>
  </article>
  <article class="service">
    <div class="pull-right">
      <h1>Servicing & Tune-up</h1>
      <p>
Our servicing and tune-up
package is second to none, 
our aim is to make your 
computer run as good as it 
did the day you bought it.
      </p>
    </div>
  </article>
  <article class="service">
    <div class="pull-right">
      <h1>Upgrades</h1>
      <p>
Running out of space? Do 
you need a bigger hard drive 
or faster memory? We offer 
free upgrade consultation 
and guarantee to provide 
the most cost effective 
solution for your computer 
needs.
      </p>
    </div>
  </article>
  <article class="service">
    <div class="pull-right">
      <h1>Fault Finding & Repairs</h1>
      <p>
No problem is too big or too 
small for our team. Our aim is 
make your computer run 
smooth again and clear out 
any problems you may be 
having.        
      </p>
    </div>
  </article>          
</div>
<div  id="main-content">
</div>