$(window).bind("load", function() {
	$.cookieCuttr();
	
	/* NAVIGATION */
	set_nav_item_width();

	$(window).resize(function() {
		set_nav_item_width();
	});

	$("#main-nav li").css("cursor", "pointer");
	$("#main-nav li:not(.active)").hover(function() {
		$(this).addClass("active");
	}, function() {
		$(this).removeClass("active");
	});
	$("#main-nav li").click(function() {
		window.location = $(this).find("a").attr("href");
	});

	function set_nav_item_width() {
		var header_width = $("header.main").outerWidth(false);
		var home_link_width = $("header.main li.home").outerWidth(true);
		var num_of_links = $("header.main li:not(.home)").length;
		var li_width = (header_width - home_link_width - 20) / num_of_links;

		$("header.main li:not(.home)").css("padding-left", 0);
		$("header.main li:not(.home)").css("padding-right", 0);
		$("header.main li:not(.home) a").css("padding-left", 0);
		$("header.main li:not(.home) a").css("padding-right", 0);
		$("header.main li:not(.home)").css("width", li_width + "px");
	}
});

$(function() {	
	 var width = get_device_width();

	 /* NOTICES */
	if($(".notice").length > 0) {
		var notice_width = $(".notice").outerWidth(true);

		$(".notice").css("left", ((width / 2) - (notice_width / 2)) + "px");
		$(".notice").slideDown(600);

		var page_width = $("html").outerWidth(true);
		var page_height = $("html").outerHeight(true);

		$(".overlay").css("height", page_height);
		$(".overlay").css("width", page_width);

		$("html").keydown(function() {
			$(".overlay").hide();
			$(".notice").remove();
		});
	}

	$("html").on("click", ".overlay", function(){
		$(".overlay").hide();
		$(".notice").remove();
	});

	$("html").on("click", ".notice", function(){
		$(".overlay").hide();
		$(".notice").remove();
	}); 	 

	/* SLIDER */
	$("#slider-container").on("click", "#slider article header", function() {
		var $article = $(this).closest("article");
		var num = $("#slider article").index($article);
		var header_width = slider_header_width();		
		var slide_width = slider_slide_width();

		$("#slider article").removeAttr("style");
		$("#slider article").removeClass("collapsed");
		$("#slider article").removeClass("active");
		$("#slider article").css("width", slide_width + "%");

		$article.addClass("active");
		$("#slider article:not(.active)").addClass("collapsed");
		$("#slider article.active").show();
		$("#slider article.collapsed").show();

		$("#slider article header img.arrow").hide();
		$("#slider article.active header img.top.left").show();
		$("#slider article.active header img.bottom.left").show();
		$("#slider article.active").next("article").find("header img.bottom.right").show();
		$("#slider article.active").next("article").find("header img.top.right").show();	
		$("#slider article header img.title.active").hide();
		$("#slider article.active header img.title.active").show();

		// update all slides positions
		var active_slide = active_slide_position();
		var num_slides = $("#slider article").length;

		$("#slider article").each(function(i) {
			// if the slide is before the active slide
			if(i <= active_slide) {
				// set its left position
				$(this).css("left", (header_width*i) + "px");
			}
			else {
				$(this).css("width", header_width+"px");
				// set its right position
				$(this).css("right", (header_width*(num_slides - (i+1))) + "px");
			}
		});
	});

	var timer;	
	$("#slider-container").load("/slider", function() {	
		setup_slider();
	});

	$("#slider-container").on("mouseenter mouseleave", "#slider article", function(event) {

		if(event.type == "mouseenter"){
			if(get_device_width() > 520 && $("#slider article").length > 1) {
				clearInterval(timer);
			}
		}
		else if(event.type == "mouseleave"){
			if(get_device_width() > 520 && $("#slider article").length > 1) {
				timer = animate_slider(4000, 1000);
			}
		}
	});

	$(window).resize(function(){
		$("#slider-container").load("/slider", function() {
			clearInterval(timer);
			setup_slider();
		});		
	});

	function setup_slider() {
		if(get_device_width() > 520 && $("#slider article").length > 1) {
			initialize_slider();
			timer = animate_slider(2000, 1000);
		}
		/* NEWSLETTER SIGNUP VALIDATION */
		if($("#newsletter_user_email").length > 0) {
			var signup_email = new LiveValidation( "newsletter_user_email", { validMessage: " ", wait: 500 } );
			signup_email.add( Validate.Presence, { failureMessage: "*" } );
			signup_email.add( Validate.Email, { failureMessage: "*" } );
		}		
	}

	function initialize_slider() {
		var header_width = slider_header_width();
		var slide_width = slider_slide_width();
		
		$("#slider article").removeAttr("style");
		$("#slider article").removeClass("collapsed");
		$("#slider article").removeClass("active");
		$("#slider article").first().addClass("active");
		$("#slider article:not(.active)").addClass("collapsed");
		$("#slider article.active").show();
		
		$("#slider article header img.arrow").hide();
		$("#slider article.active header img.top.left").show();
		$("#slider article.active header img.bottom.left").show();
		$("#slider article header img.title.active").hide();
		$("#slider article.active header img.title.active").show();
		$("#slider article.active").next("article").find("header img.bottom.right").show();
		$("#slider article.active").next("article").find("header img.top.right").show();		

		// set the width of the slider content
		$("#slider article").css("width", slide_width + "%");
		// display all of the collapsed article headers at the correct distance apart
		$("#slider article.collapsed").show();
		$("#slider article.collapsed").css("width", header_width + "px");
		$($("#slider article.collapsed").get().reverse()).each(function(i) {			
			$(this).css("right", (header_width * (i)) + "px");
		});
	}

	function animate_slider(slider_interval, animation_time) {
		var reset = false;	

		var num_slides = $("#slider article").length;	

		if((active_slide_position() + 1) == num_slides) {
			reset = true;
		}

		var timer = setInterval(function() {
			if(reset == true) {
				clearInterval(timer);
				setup_slider();
				reset = false;
			}
			else {
				var header_width = slider_header_width();
				var $active = $("#slider article.active");
				var $next = $active.next();
				$("#slider article header img.arrow").hide();
				$("header img.top.left", $active.next()).show();
				$("header img.bottom.left", $active.next()).show();
				$("header img.top.right", $next.next()).show();
				$("header img.bottom.right", $next.next()).show();

				// make next slide active
				$next.addClass("active");
				$next.removeClass("collapsed");
				$next.css("border-right", "1px solid #000000");
				$next.width(slider_slide_width() + "%");
				$next.find("header img.title.active").show();

				// make current slide inactive
				$active.removeClass("active");
				$active.addClass("collapsed");
				$active.show();
				$active.css("width", header_width);
				$next.css("border", "none");
				$active.find("header img.title.active").hide();

				// update all slides positions
				var active_slide = active_slide_position();
				var num_slides = $("#slider article").length;
				$("#slider article").each(function(i) {
					// if the slide is before the active slide
					if(i <= active_slide) {
						// set its left position
						$(this).css("left", (header_width*i) + "px");
					}
					else {
						// set its right position
						$(this).css("right", (header_width*(num_slides - (i+1))) + "px");
					}
				});

				// if we get to the last slide, start again
				if((active_slide_position() + 1) == num_slides) {
					reset = true;
				}
			}
		}, slider_interval);
	
		return timer;
	}

	 function get_device_width() {
	 	return (window.innerWidth > 0) ? window.innerWidth : screen.width;
	 }

	function active_slide_position() {
		var active_slide_position;
		$("#slider article").each(function(i) {
			if($(this).hasClass("active")) {
				active_slide_position = i;
			}
		});
		return active_slide_position;
	}

	function slider_header_width() {
		return $("#slider article header").outerWidth(true);
	}

	function slider_slide_width() {
		var header_width = slider_header_width();
		var num_slides = $("#slider article").length;	
		var container_width = $("#slider").outerWidth(true);
		var slide_width = (container_width - ((num_slides - 1) * header_width)) / container_width * 100;
		return slide_width;
	}

	$(document).pjax("#services a.btn", "#pjax-container");

	$(document).on("pjax:click", "#services a.btn", function() {
		$("#pjax-container").html("");
		$("body").append("<div id='spinner'></div>")

		$("#spinner").css("top", $("#pjax-container").offset().top + 100 + "px");
		$("#spinner").css("left", $("#pjax-container").offset().left + ($("#pjax-container").width() / 2) - 60);
		$('html, body').animate({
			scrollTop: $("#pjax-container").offset().top
		}, 800);	
	});

	$(document).on("pjax:success", function(xhr, data){
		$("#pjax-container").html(data);
		$("#pjax-container").css("opacity", "1");
		$("#spinner").remove();
	});

	/* STUDENT DISCOUNT VALIDATION */
	if($("#student_code_name").length > 0 && $("#student_code_email").length > 0) {
		var student_name = new LiveValidation( "student_code_name", { validMessage: " ", wait: 500 } );
		student_name.add( Validate.Presence, { failureMessage: "*" } );
		student_name.add( Validate.Length, { minimum: 2, tooShortMessage: "*" } );	

		var student_email = new LiveValidation( "student_code_email", { validMessage: " ", wait: 500 } );
		student_email.add( Validate.Presence, { failureMessage: "*" } );
		student_email.add( Validate.Email, { failureMessage: "*" } );
	}

	/* CONTACT FORM VALIDATION */
	if($("#contact").length > 0) {
		var name = new LiveValidation( "contact_name", { validMessage: " ", wait: 500 } );
		name.add( Validate.Presence, { failureMessage: "*" } );
		name.add( Validate.Length, { minimum: 2, tooShortMessage: "*" } );	

		var email = new LiveValidation( "contact_email", { validMessage: " ", wait: 500 } );
		email.add( Validate.Presence, { failureMessage: "*" } );
		email.add( Validate.Email, { failureMessage: "*" } );

		var telephone = new LiveValidation( "contact_number", { validMessage: " ", wait: 500 } );
		telephone.add( Validate.Presence, { failureMessage: "*" } );
		telephone.add( Validate.Numericality, { onlyInteger: true, notANumberMessage: "*", notAnIntegerMessage: "*"  } );
		telephone.add( Validate.Length, { minimum: 11, tooShortMessage: "*" } );		

		var message = new LiveValidation( "contact_message", { validMessage: " ", wait: 500 } );
		message.add( Validate.Presence, { failureMessage: "*" } );
		message.add( Validate.Length, { minimum: 2, tooShortMessage: "*" } );		
	}

});