#order-form #options .checkout-service {
  border: 1px solid #ccc;
  padding: 7px;
  margin-bottom: 15px;
  width: 60%;
  border-radius: 5px
}

#order-form fieldset#options .options.well {
  background-color: #C0D9D9;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);    */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}

#order-form header h1 {
  font-size: 110%;
  color: #D18100;
  float: left;
}

#order-form .btn.js {
  display: none;
}

#order-form header span {
  font-size: 140%;
  color: #CCCCCC;
  float: left;
  padding: 3px 0 0 10px;
  line-height: 40px;
}

#order-form header.active h1 {
  color: #69A3CC;
}

#time_hour, #time_minute {
  width: auto;
}

#errors {
  margin: 15px 0 0 0;
}

.control-label {
  width: auto !important;
}

.controls {
  margin-left: 120px !important;
}

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
  
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00 !important;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000 !important;
}

@media screen and (max-width: 768px) {
  .left {
    clear: both;
    float: none !important;
  }
  .right {
    clear: both;
    float: none !important;
  }
}

@media screen and (max-width: 520px) {
  #order-form textarea, #order-form select {
    width: 100%;
  }
}