.grid {
  width: 100%;
  margin: 30px 0 30px 0;
}

.grid article {
  float: left;
  width: 450px;
  height: 260px;
  margin-bottom: 40px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  font-weight: 100;
  -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75);  
}

.grid article  a, .grid article  a:hover {
  color: #fff;
  text-decoration: underline;
}

.grid article ul {
  list-style-type: none;
  list-style-image: url("tick.png");
  color: #fff;
  font-weight: bolder;
  margin-left: 45px;  
}

.grid article ul li em {
  font-style: none;
  color: #F59733;
}

.grid article h1, .grid article p {
  color: #FFFFFF;
  margin-left: 25px;
  margin-right: 25px;
}

.grid article p {
  font-weight: bolder;
  font-size: 110%;
  text-shadow: 0px -1px 0px #666;
}

.grid article h1 {
  font-size: 220%;
  font-weight: 200;
  margin-top: 10px;
  text-shadow: 0px -1px 0px #000;
}

.grid article.left {
  margin-right: 40px;
}

.grid article.blue {
  background: #2c5683; /* Old browsers */
  background: -moz-linear-gradient(left, #2c5683 0%, #2989d8 28%, #02bef8 74%, #09ade5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2c5683), color-stop(28%,#2989d8), color-stop(74%,#02bef8), color-stop(100%,#09ade5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #2c5683 0%,#2989d8 28%,#02bef8 74%,#09ade5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #2c5683 0%,#2989d8 28%,#02bef8 74%,#09ade5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #2c5683 0%,#2989d8 28%,#02bef8 74%,#09ade5 100%); /* IE10+ */
  background: linear-gradient(to right, #2c5683 0%,#2989d8 28%,#02bef8 74%,#09ade5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c5683', endColorstr='#09ade5',GradientType=1 ); /* IE6-9 */  
}
.grid article.green {
  background: #467507; /* Old browsers */
  background: -moz-linear-gradient(left, #467507 0%, #78ad1d 74%, #6fa319 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#467507), color-stop(74%,#78ad1d), color-stop(100%,#6fa319)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #467507 0%,#78ad1d 74%,#6fa319 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #467507 0%,#78ad1d 74%,#6fa319 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #467507 0%,#78ad1d 74%,#6fa319 100%); /* IE10+ */
  background: linear-gradient(to right, #467507 0%,#78ad1d 74%,#6fa319 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#467507', endColorstr='#6fa319',GradientType=1 ); /* IE6-9 */
}
.grid article.yellow {
  background: #d67000; /* Old browsers */
  background: -moz-linear-gradient(left, #d67000 0%, #ff9900 65%, #ff9900 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d67000), color-stop(65%,#ff9900), color-stop(100%,#ff9900)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d67000 0%,#ff9900 65%,#ff9900 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d67000 0%,#ff9900 65%,#ff9900 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d67000 0%,#ff9900 65%,#ff9900 100%); /* IE10+ */
  background: linear-gradient(to right, #d67000 0%,#ff9900 65%,#ff9900 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d67000', endColorstr='#ff9900',GradientType=1 ); /* IE6-9 */
}
.grid article.red {
  background: #d11218; /* Old browsers */
  background: -moz-linear-gradient(left, #d11218 0%, #e72f2b 65%, #e72f2b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d11218), color-stop(65%,#e72f2b), color-stop(100%,#e72f2b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d11218 0%,#e72f2b 65%,#e72f2b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d11218 0%,#e72f2b 65%,#e72f2b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d11218 0%,#e72f2b 65%,#e72f2b 100%); /* IE10+ */
  background: linear-gradient(to right, #d11218 0%,#e72f2b 65%,#e72f2b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d11218', endColorstr='#e72f2b',GradientType=1 ); /* IE6-9 */
}

.info-box {
    background-image: url('diagonal-stripe.png'); 
    padding: 30px;
    color: #ffffff;
    font-size: 150%;
    text-align: center;
}

.info-box b {
	color: #FA9804;
}

#certified {
  display: block;
  margin: 30px auto;
  text-align: center;	
  color: #F99704;
  font-size: 120%;
}

#slider-shadow {
  display: block;
  margin: auto;
}

#slider-container {
  position: relative;
  height: 362px;
  background-color: #ffffff;
  margin-top: 30px; 
  margin-bottom: 30px;
}

#slider {
  position: relative;
}

#slider article {
  position: absolute;
  width: 100%;
  height: 320px;
  padding: 2% 0 2% 0;
  background-color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #237DC1;
}

#slider article.active {
  left: 0;
}

#slider article.collapsed {
  display: none;
}

#slider article header {
  position: absolute;
  background-color: #000000;
  background-image: url('diagonal-stripe.png'); 
  height: 380px;
  width: 60px;
  border-right: 2px solid #000000;
  top:-10px;
  left:0;
  z-index: 10;
  cursor: pointer;
}

#slider article footer img {
  position: absolute;
  z-index: 1;  
}

#slider article header img.title {
  position: absolute;
  left: 40%;
  top: 20px;
}

#slider article header img.arrow {
  display: none;
  position: absolute;
  z-index: 1;
}

#slider article header img.top, #slider article footer img.top {
  top: 0;
}

#slider article header img.bottom, #slider article footer img.bottom {
  bottom: 0;
}

#slider article header img.left, #slider article footer img.left {
  right: -12px;
}

#slider article header img.right, #slider article footer img.right {
  left: -10px;
}

#slider article footer {
  padding: 0;
  margin: 0;
  height: auto;
  background: none;
  position: absolute;
  background-color: #000000;
  background-image: url('diagonal-stripe.png');
  height: 380px;
  width: 15px;  
  right: 0;
  top: -10px;
  z-index: 1;
}

#slider article header span {
  position: absolute;
  font-size: 120%;
  color: #ffffff;
  font-weight: bold;
  bottom: 10%;
  left:40%;
}

#slider article .content {
  position: relative;
  padding: 0 0px 0 75px;
  width: 100%;
  height: 330px;
  font-size: 110%;
  line-height: 15px;
  display: none;  
}

#slider article .content h1 {
  font-size: 190%;
  line-height: 20px;
  margin: 0 0 15px 0;
  padding: 0;
}

#slider article.active .content {
  display: block;
}

#slider article div.pull-left {
  position: relative;  
  width: 63%;
  z-index: 10;
}

#slider article div.pull-left.image {
  width: 20%;
}

#slider article form {
  color: #000000;
}

#slider article img {
  max-width: 100;
  height:auto;
  display: block;
}

#slider-shadow {
  margin: 30px auto 30px auto;
}

#newsletter-background {
  position: absolute;
  right: 20px;
  bottom: -25px;
  z-index: 1;
}

#new_newsletter_user {
  position: absolute;
  right: 160px;
  bottom: 20px;  
  z-index: 2;  
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
      #slider article div.pull-left.image {
        display: none;
      }
      #slider article header {
        width: 30px;
      }
      #slider article .content {
        padding-left: 40px;
      }
      #slider article div.pull-left {
        width: 85%;
      }
      #slider article img#newsletter-background {
        display: none;
      }
      #new_newsletter_user {
        right: auto;
        left: auto;
        bottom: 0;
        padding: 7px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);        
      }     
}

@media screen and (max-width: 520px) {
  #slider-container {
    height: auto;
  }

  #slider article {
    height: auto;
    position: relative;
    margin: 0;
  }

  #slider article header {
    height: 108%;
  }

  #slider article .content {
    height: auto;
  }

  #slider article header img {
    display: block;
  }

  .grid article {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .grid article.left {
    margin-right: 0;
  }
}