#services {
  margin-left: -20px;
  margin-top: 20px;
}
article.service {
  position: relative;
  float: left;
  width: 310px;
  height: 210px;
  background-color: #EBEBEB;
  margin-left: 24px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #497FAF;
}

article.service img {
  margin-right: 5px;
}

article.service a.btn {
  position: absolute;
  bottom: -15px;
  right: -10px;
}

article.service h1 {
  font-size: 160%;
  font-weight: 200;
  color: #F99704;
  margin:0;
  margin-left: 110px;  
  line-height: 20px;
  margin-bottom: 8px;
}

article.service p {
  color: #237DC1;
  margin-left: 110px;
}

@media screen and (max-width: 520px) {
  article.service {
    width: auto;
    height: auto;
  }
  article.service a.btn {
    bottom: -25px;
    right: 10px;
  }
}