@font-face {
    font-family: 'droid_sansbold';
    src: url('DroidSans-Bold-webfont.eot');
    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-Bold-webfont.woff') format('woff'),
         url('DroidSans-Bold-webfont.ttf') format('truetype'),
         url('DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ccc !important;
}

a:hover {
	background-color: transparent;
}

.wrapper {
	position: relative;
	max-width: 1048px;
}

.wrapper.main {
	overflow: hidden;
}

.no-margin {
	margin: 0 !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.white {
	color: #FFFFFF !important;
}

.center {
	text-align: center;
	margin-top: 15px;
}

.orange, .orange:hover {
	color: #FA9804;
}

.well.column {
	float: left;
	width: 44%;
}

.well.column.first {
	margin-right: 25px;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.5;
	left: 0;
	top: 0;
	z-index: 99;
}

.accept.error {
	background-color: #f2dede;
	padding: 5px;
}

.checkbox input[type="checkbox"] {
	margin-left: 0 !important;
	margin-right: 10px !important;
}

.javascript-required {
	margin-top: 20px;
}

#spinner {
	height: 128px;
	width: 128px;
	position: absolute;
	background-image: url('spinner.gif');
	left: 50%;
	top: 50%;
	z-index: 100;
}

.notice {
	position: fixed;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 100;
	font-weight: bold;
	top: 30%;
}

/* HEADER */

header.main {
	padding-top: 30px;
}

header.main a:hover {
	text-decoration: none;
}

header.main h1#logo {
	width: 100%;
	padding: 30px 0;
	margin: 0;
	font-family: 'droid_sansbold', Arial, sans-serif;
	-webkit-text-shadow: -1px -1px #000000, 1px 1px #ffffff;
	-moz-text-shadow: -1px -1px #000000, 1px 1px #ffffff;
	text-shadow: -1px -1px #2D3437, 1px 1px #ffffff;
	color: #777777;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -4px;
	word-spacing: -5px;
}

header.main h1#logo a, header.main h1#logo a:hover {
	color: #777777;
	text-decoration: none;	
	background-color: transparent;
}

header.main h1 em {
	font-size: 70px;
	font-style: normal;
	color: #3F77A9;
}

#main-nav {
	position: relative;
	height: 50px;
	overflow: hidden;
}

#main-nav div {
	position: absolute;
	bottom: 0;
	height: 10px;
	width: 100%; 
	background-color: #F99703;
}

#main-nav #home-link {
	position: absolute;
	top: 10px;
}

#main-nav ul.inline {
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#main-nav ul.inline li {
	padding: 15px 1% 9px 1%;
	margin-right: 1px;
	  -webkit-text-shadow: 1px 1px 3px #000000;
	  -moz-text-shadow: 1px 1px 3px #000000;
	  text-shadow: 1px 1px 3px #000000;	
	text-decoration: none;
	background: #326da1;
	background: -moz-linear-gradient(top,  #6290bd 0%, #326da1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6290bd), color-stop(100%,#326da1));
	background: -webkit-linear-gradient(top,  #6290bd 0%,#326da1 100%);
	background: -o-linear-gradient(top,  #6290bd 0%,#326da1 100%);
	background: -ms-linear-gradient(top,  #6290bd 0%,#326da1 100%);
	background: linear-gradient(to bottom,  #6290bd 0%,#326da1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6290bd', endColorstr='#326da1',GradientType=0 );
	text-align: center;
	border-radius: 5px;	
}

#main-nav ul.inline li.home {
	padding: 15px 15px 9px 15px;
}

#main-nav ul.inline li.home img {
	height: 25px;
	margin-top: -8px;
}

#main-nav ul.inline li.active {
	background: none;
	background: #F99703;
}

#main-nav ul.inline li a {
	font-size: 130%;
	color: #FFFFFF;
	font-weight: 400;
}

/* MAIN LAYOUT */

#main-content, .main-content {
	position: relative;
	background-color: #FFFFFF;
	width: 94%;
	margin: auto;
	min-height: 400px;
	padding: 0 2% 10px 2%;
  	border-left: 1px solid #497FAF;
  	border-right: 1px solid #497FAF;
  	border-bottom: 1px solid #497FAF;
  	z-index: 10;
}

.main-content {
	min-height: 0;
	padding-top: 15px;
  	border-bottom: none;	
}

header.stripe, footer.stripe {
	position: relative;
	height: 50px;
	margin-top: 20px;
	background-image: url('diagonal-stripe.png');
	z-index: -10;
	color: #fff;
	border-bottom: 1px solid #000;
}

header.stripe.order h1 {
	color: #fff;
	font-size: 120%;
}

footer.stripe {
	height: 20px;
	border: none;
	padding: 0;
}

header.stripe h1 {
	position: relative;
	float: left;
	color: #69A4CD;
	margin: 0;
	padding: 3px 0 0 10px;
	font-size: 150%;
}

header.stripe .img-shadow, footer.stripe .img-shadow {
	position: absolute;
	z-index: 1;
}

header.stripe .img-shadow img, footer.stripe .img-shadow img {
	max-width: 100%;
}

header.stripe .img-shadow.left, footer.stripe .img-shadow.left {
	top: 43px;
	left: 0px;
}

header.stripe .img-shadow.right, footer.stripe .img-shadow.right {
	top: 43px;
	right: 0px;	
}

header.stripe .img-shadow.top, footer.stripe .img-shadow.top {
	top: -15px;
}

#main-content .service {
	padding-top: 25px;
}

hr.dark {
	border-top: 1px solid #141720;
	border-bottom: 1px solid #ABA9A9;
}

/* FOOTER */

footer {
	position: relative;
	padding: 30px 0;
	background-color: #000000;
	height: 120px;
	margin-top: 20px;
	color: #FFFFFF;
	background-image: url('diagonal-stripe.png');
	font-size: 90%;
}

footer .container {
	position: relative;
}

footer .social-icon {
	position: absolute;
	top: 15px;
	z-index: 2;
	font-size: 90%;	
}

footer hr {
	position: absolute;
	top:0px;
	width: 100%;
	z-index: 1;
}

footer a, footer a:hover {
	color: #ffffff;
}

#social {
	position: absolute;
	top: 45px;
	right: 250px;
}

footer .social-icon.facebook {
	right: 180px;
}

footer .social-icon.twitter {
	right: 120px;
}

footer .social-icon.google {
	right: 60px;
}

footer .social-icon.youtube {
	right: 0;
}

footer ul.inline {
	margin-top: 45px;
	margin-bottom: 10px;	
}

footer ul.inline li {
	margin-right: 0px;
}

footer ul.inline li:first-child, footer ul.inline li:first-child a {
	margin-left: 0;
	padding-left: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 940px) {
	.container {
		width: 100% !important;
	}
	.well.column {
	}
	.well.column.first {
		margin-right: 0;
	}	
}

@media screen and (max-width: 768px) {
	header.main h1 {
		font-size: 50px;
	}
	#main-nav ul.inline li a{
		font-size: 110%;
	}
	footer ul.inline {
		margin-top: 80px;
	}
	#social {
		display: none;
	}
}

@media screen and (max-width: 520px) {
	header.main {
		padding-top: 0;
	}
	header.main h1 {
		font-size: 40px;
		line-height: 55px;
		padding: 0;
		background-position: 50% 5px;
		padding-top: 15px;
	}
	header.main span {
		display:none;
	}
	#main-nav ul.inline li {
		padding: 15px 0 9px 0;
	}

	#main-nav ul.inline li a{
		font-size: 87%;
	}
  	#main-content header {
  		height: auto;
  		width: 106%;
  		left: -3%;
  		position: relative;
  	}
  	#main-content header .img-shadow {
  		display:none;
  	}
  	#main-content .service {
  		padding-top: 10px;
  	}
	#main-nav ul.inline li.active img.hover-img, #main-nav ul.inline li.hover img.hover-img {
		display: none;
	}
	header.main {
		background: none;
	}
}