@font-face {
    font-family: 'droid_sansbold';
    src: url('DroidSans-Bold-webfont.eot');
    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-Bold-webfont.woff') format('woff'),
         url('DroidSans-Bold-webfont.ttf') format('truetype'),
         url('DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ccc !important;
    background-image: url('tile.jpg'); 
}

.wrapper {
	position: relative;
	max-width: 1048px;
}

.wrapper.main {
	overflow: hidden;
}

.no-margin {
	margin: 0 !important;
}

#spinner {
	height: 128px;
	width: 128px;
	position: absolute;
	background-image: url('spinner.gif');
	left: 50%;
	top: 50%;
}

#notice {
	position: absolute;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 4px;	
	z-index: 100;
	font-weight: bold;
	left: 23%;
	top: 10%;
}

/* HEADER */

header.main {
	padding-top: 30px;
	background-image: url('highlight.png');
	background-repeat: no-repeat;
	background-position: 40px 25px;
}

header.main a:hover {
	text-decoration: none;
}

header.main h1 {
	width: 100%;
	padding: 30px 0;
	margin: 0;
	font-family: 'droid_sansbold', Arial, sans-serif;

    -webkit-text-shadow: -1px -1px #000000, 1px 1px #ffffff;
    -moz-text-shadow: -1px -1px #000000, 1px 1px #ffffff;
    text-shadow: -1px -1px #2D3437, 1px 1px #ffffff;

	color: #777777;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -4px;
	word-spacing: -5px;

	background-image: url('logo-icon.png');
	background-repeat: no-repeat;
	background-position: 68% 15px;
}

header.main h1 em {
	font-size: 70px;
	font-style: normal;
	color: #3F77A9;
}

#main-nav {
	position:relative;
	padding: 15px;
	background: #d58c00;
	background: -moz-linear-gradient(top,  #d58c00 0%, #b85500 100%, #b85500 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d58c00), color-stop(100%,#b85500), color-stop(100%,#b85500));
	background: -webkit-linear-gradient(top,  #d58c00 0%,#b85500 100%,#b85500 100%);
	background: -o-linear-gradient(top,  #d58c00 0%,#b85500 100%,#b85500 100%);
	background: -ms-linear-gradient(top,  #d58c00 0%,#b85500 100%,#b85500 100%);
	background: linear-gradient(to bottom,  #d58c00 0%,#b85500 100%,#b85500 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d58c00', endColorstr='#b85500',GradientType=0 );	
	background-image: url('nav_stripe.png');
    -webkit-text-shadow: 1px 1px 3px #000000;
    -moz-text-shadow: 1px 1px 3px #000000;
    text-shadow: 1px 1px 3px #000000;
}

#main-nav #home-link {
	position: absolute;
	top: 10px;
}

ul.inline {
	margin: 0;
}

ul.inline.pull-left {
	margin-left: 60px;
}

ul.inline li {
	display: inline;
	position:relative;
	margin-right: 18px;
}

#main-nav ul.inline li img.hover-img {
	display: none;
	position: absolute;
	top: -22px;
}

#main-nav ul.inline li.active img.hover-img, #main-nav ul.inline li.hover img.hover-img {
	display: block;
}

#main-nav ul.inline li img.hover-img.left {
	left: -10px;
}

#main-nav ul.inline li img.hover-img.right {
	right: -10px;
}

ul.inline li a {
	font-size: 130%;
	color: #FFFFFF;
	font-weight: 400;
	padding: 21px 10px 10px 10px;
}

#main-nav ul.inline li.active a, #main-nav ul.inline li a:hover {
	text-decoration: none;
	background: #326da1;
	background: -moz-linear-gradient(top,  #326da1 0%, #6290bd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#326da1), color-stop(100%,#6290bd));
	background: -webkit-linear-gradient(top,  #326da1 0%,#6290bd 100%);
	background: -o-linear-gradient(top,  #326da1 0%,#6290bd 100%);
	background: -ms-linear-gradient(top,  #326da1 0%,#6290bd 100%);
	background: linear-gradient(to bottom,  #326da1 0%,#6290bd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#326da1', endColorstr='#6290bd',GradientType=0 );	
}

/* MAIN LAYOUT */

#main-content, .main-content {
	position: relative;
	background-color: #FFFFFF;
	width: 94%;
	margin: auto;
	min-height: 400px;
	padding: 0 2% 10px 2%;
  	border-left: 1px solid #497FAF;
  	border-right: 1px solid #497FAF;
  	border-bottom: 1px solid #497FAF;
  	z-index: 10;
}

.main-content {
	min-height: 0;
	padding-top: 15px;
  	border-bottom: none;	
}

header.stripe {
	position: relative;
	height: 50px;
	margin-top: 20px;
	background-image: url('diagonal-stripe.png');
	z-index: -10;
	color: #fff;
}

header.stripe h1 {
	position: relative;
	color: #69A4CD;
	margin: 0;
	padding: 3px 0 0 10px;
}

header.stripe .img-shadow {
	position: absolute;
	z-index: 1;
}

header.stripe .img-shadow img {
	max-width: 100%;
}

header.stripe .img-shadow.left {
	top: 43px;
	left: 0px;
}

header.stripe .img-shadow.right {
	top: 43px;
	right: 0px;	
}

header.stripe .img-shadow.top {
	top: -15px;
}

#main-content .service {
	padding-top: 25px;
}

hr.dark {
	border-top: 1px solid #141720;
	border-bottom: 1px solid #ABA9A9;
}

/* FOOTER */

footer {
	padding: 30px 0;
	background-color: #000000;
	height: 120px;
	margin-top: 20px;
}

footer ul.inline {
	margin-bottom: 10px;
}

footer ul.inline li {
	margin-right: 0px;
}

footer ul.inline li a {
	font-size: 100%;
}

/* RESPONSIVE */
@media screen and (max-width: 940px) {
	.container {
		width: 100% !important;
	}
}

@media screen and (max-width: 768px) {
	ul.inline li.active a, ul.inline li a:hover {
		text-decoration: underline;
		background: none;
	}
	ul.inline li.active img.hover-img, ul.inline li.hover img.hover-img {
		display: none;
	}
	#main-nav ul.inline li.active img.hover-img, #main-nav ul.inline li.hover img.hover-img {
		display: none;
	}	
	#main-nav ul.inline li.active a, #main-nav ul.inline li a:hover {
		background: none;
		text-decoration: underline;
	}
	#main-nav ul.pull-left {
		margin-left: 40px;
	}		
	#main-nav ul li {
		padding: 0;
	}		
	#main-nav ul li a {
		margin: 0;
		padding: 0;
	}	
}

@media screen and (max-width: 520px) {
	header.main {
		padding-top: 0;
	}
	header.main h1 {
		font-size: 40px;
		line-height: 55px;
		padding: 0;
		background-position: 50% 5px;
		padding-top: 15px;
	}
	header.main span {
		display:none;
	}
	#main-nav ul li {
		margin: 0;
		margin-right: 2px;
	}	
	#main-nav ul li a {
		font-size: 100%;
	}
	#main-nav ul.pull-left {
		margin-left: 0;
	}
	#home-link {
		display:none;
	}
  	#main-content header {
  		height: auto;
  		width: 106%;
  		left: -3%;
  		position: relative;
  	}
  	#main-content header .img-shadow {
  		display:none;
  	}
  	#main-content .service {
  		padding-top: 10px;
  	}
	#main-nav ul.inline li.active img.hover-img, #main-nav ul.inline li.hover img.hover-img {
		display: none;
	}
	header.main {
		background: none;
	}
}