<div id="main-content">
  <header>
    <h1>New Service Option for <%= @service.name %></h1>
  </header>
  <div class="service">
    <%= link_to "back", admin_service_path(@service.id) %>
    <%= render :partial => 'form' %>
  </div>
</div>
