<div id="main-content">
  <header>
    <h1>Admin Dashboard</h1>
  </header>
  <div class="service">
    <%= link_to "Newsletter Subscribers", admin_newsletter_users_path %><br>
    <%= link_to "Registered Student Discounts", admin_student_codes_path %>
  </div>
</div>
